// Chart boxes
// Variables
$widget-spacer: $spacer;
%center-elem {
    display: flex;
    align-content: center;
    align-items: center;
}

.widget-chart {
    text-align: center;
    padding: $widget-spacer;
    position: relative;
    .progress-sub-label {
        opacity: .8;
        padding: 5px 0 0;
    }
    .progress-circle-wrapper {
        min-width: 68px;
        margin-right: $widget-spacer;
        .react-sweet-progress-symbol {
            font-size: $font-size-xs;
        }
    }
    .widget-chart-content {
        position: relative;
        z-index: 5;
    }
    .widget-chart-content-lg {
        padding: ($widget-spacer * 2) 0 $widget-spacer ($widget-spacer * 2);
        .widget-numbers {
            margin-bottom: 0;
        }
    }
    .widget-chart-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: .25;
        z-index: 4;
        @include border-bottom-radius($card-border-radius);
        overflow: hidden;
    }
    .widget-numbers {
        font-weight: bold;
        font-size: 2.5rem;
        display: block;
        line-height: 1;
        margin: $widget-spacer auto;
        &+.widget-chart-flex,
        &+.widget-description,
        &+.widget-subheading {
            margin-top: -($widget-spacer / 2);
        }
    }
    .widget-subheading {
        margin: -0.5rem 0 0;
        display: block;
        opacity: .6;
        &:first-child {
            margin-top: 0;
        }
        &+.widget-numbers {
            margin-top: ($widget-spacer / 2);
        }
    }
    .widget-description {
        margin: $widget-spacer 0 0;
    }
    &.widget-chart-hover {
        transition: all .2s;
        &:hover {
            z-index: 15;
            transform: scale(1.15);
            box-shadow: 0 0.46875rem 4.1875rem rgba(darken($primary, 50%), .05), 0 0.9375rem 2.40625rem rgba(darken($primary, 50%), .05), 0 0.25rem 1.3125rem rgba(darken($primary, 50%), .06), 0 0.125rem 1.1875rem rgba(darken($primary, 50%), .06);
            cursor: pointer;
            background: $white;
        }
    }
    .widget-chart-actions {
        position: absolute;
        right: $widget-spacer / 2;
        top: $widget-spacer / 2;
        z-index: 12;
        .btn-link {
            font-size: 1.1rem;
            padding-top: 0;
            padding-bottom: 0;
            opacity: .6;
        }
    }
    .widget-progress-wrapper {
        margin-top: $widget-spacer;
        &.progress-wrapper-bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            .progress {
                margin: 0 -1px -1px;
            }
            .progress {
                @include border-top-radius(0);
                @include border-bottom-radius($card-border-radius);
                .progress-bar {
                    border-bottom-left-radius: $card-border-radius;
                }
            }
        }
    }
    .widget-chart-flex {
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: $widget-spacer;
        &:last-child {
            margin-bottom: 0;
        }
        .widget-subheading {
            margin: 0;
        }
        .widget-description {
            margin-top: 0;
        }
    }
    &.text-left {
        flex-direction: row;
        align-items: center;
        .icon-wrapper {
            min-width: 54px;
            margin: 0 ($widget-spacer) 0 0;
        }
        .widget-numbers {
            margin-left: 0;
        }
        .widget-chart-content {
            display: flex;
            flex-direction: column;
            align-content: center;
            flex: 1;
            position: relative;
            &>.widget-numbers:first-child {
                margin-top: 0;
            }
            .widget-description {
                align-self: flex-start;
            }
        }
        .widget-chart-wrapper {
            height: 35%;
        }
    }
    &.widget-chart-left {
        padding-bottom: 15%;
    }
    .chart-wrapper-relative {
        position: relative;
        opacity: 1;
        margin-top: ($widget-spacer);
    }
}

.widget-chart-actions {
    position: absolute;
    right: $widget-spacer;
    top: $widget-spacer;
    z-index: 12;
    .btn-link {
        font-size: 1.1rem;
        padding-top: 0;
        padding-bottom: 0;
        opacity: .6;
    }
}

.widget-chart,
.widget-content {
    &:hover {
        .widget-chart-actions {
            .btn-link {
                opacity: 1;
            }
        }
    }
}

.grid-menu {
    .widget-chart {
        &.widget-chart-hover {
            &:hover {
                background: $card-bg;
                @include border-radius($border-radius);
            }
        }
    }
}

.icon-wrapper {
    width: 208px;
    height: 54px;
    margin: 0 auto;
    @extend %center-elem;
    position: relative;
    overflow: hidden;
    &[class*="border-"] {
        border-width: 1px;
        border-style: solid;
    }
    .icon-wrapper-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
        opacity: .2;
        &.bg-light {
            opacity: .08;
        }
    }
    i {
        margin: 0 auto;
        font-size: 1.7rem;
        position: relative;
        z-index: 5;
        &:before {
            margin-top: -3px;
        }
    }
    .progress-circle-wrapper {
        width: 100%;
        margin-right: 0;
    }
}

.widget-chart2 {
    .widget-chart-flex {
        display: flex;
        align-items: baseline;
        align-content: center;
        margin-bottom: 0;
        .widget-subtitle,
        .widget-title {}
        .widget-subtitle {
            margin-left: auto;
        }
        .widget-numbers {
            font-weight: normal;
        }
        &+.widget-chart-flex {
            .widget-numbers {
                margin-bottom: 0;
            }
        }
    }
    .widget-chat-wrapper-outer {
        display: flex;
        flex: 1;
        flex-direction: column;
        max-width: 100%;
        .widget-chart-wrapper {
            height: 70px;
            opacity: .8;
            position: relative;
            margin: $widget-spacer auto (-($widget-spacer / 2));
        }
        .widget-chart-wrapper-lg {
            height: 130px;
        }
        .widget-chart-wrapper-xlg {
            height: 160px;
        }
    }
}

// Widgets with bottom border
.card-btm-border {
    border-bottom: transparent solid 4px;
}

// Progress Box
.progress-box {
    text-align: center;
    h4 {
        font-size: $font-size-base;
        font-weight: bold;
        opacity: .6;
        text-transform: uppercase;
        padding-bottom: ($widget-spacer / 3)
    }
    svg {
        margin: 0 auto;
    }
}

.svg-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .1;
    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.widget-numbers-sm {
    font-size: 1.5rem;
}


/*copied from another project for icons*/

.lnr-home:before {
    content: "\e800";
}

.lnr-apartment:before {
    content: "\e801";
}

.lnr-pencil:before {
    content: "\e802";
}

.lnr-magic-wand:before {
    content: "\e803";
}

.lnr-drop:before {
    content: "\e804";
}

.lnr-lighter:before {
    content: "\e805";
}

.lnr-poop:before {
    content: "\e806";
}

.lnr-sun:before {
    content: "\e807";
}

.lnr-moon:before {
    content: "\e808";
}

.lnr-cloud:before {
    content: "\e809";
}

.lnr-cloud-upload:before {
    content: "\e80a";
}

.lnr-cloud-download:before {
    content: "\e80b";
}

.lnr-cloud-sync:before {
    content: "\e80c";
}

.lnr-cloud-check:before {
    content: "\e80d";
}

.lnr-database:before {
    content: "\e80e";
}

.lnr-lock:before {
    content: "\e80f";
}

.lnr-cog:before {
    content: "\e810";
}

.lnr-trash:before {
    content: "\e811";
}

.lnr-dice:before {
    content: "\e812";
}

.lnr-heart:before {
    content: "\e813";
}

.lnr-star:before {
    content: "\e814";
}

.lnr-star-half:before {
    content: "\e815";
}

.lnr-star-empty:before {
    content: "\e816";
}

.lnr-flag:before {
    content: "\e817";
}

.lnr-envelope:before {
    content: "\e818";
}

.lnr-paperclip:before {
    content: "\e819";
}

.lnr-inbox:before {
    content: "\e81a";
}

.lnr-eye:before {
    content: "\e81b";
}

.lnr-printer:before {
    content: "\e81c";
}

.lnr-file-empty:before {
    content: "\e81d";
}

.lnr-file-add:before {
    content: "\e81e";
}

.lnr-enter:before {
    content: "\e81f";
}

.lnr-exit:before {
    content: "\e820";
}

.lnr-graduation-hat:before {
    content: "\e821";
}

.lnr-license:before {
    content: "\e822";
}

.lnr-music-note:before {
    content: "\e823";
}

.lnr-film-play:before {
    content: "\e824";
}

.lnr-camera-video:before {
    content: "\e825";
}

.lnr-camera:before {
    content: "\e826";
}

.lnr-picture:before {
    content: "\e827";
}

.lnr-book:before {
    content: "\e828";
}

.lnr-bookmark:before {
    content: "\e829";
}

.lnr-user:before {
    content: "\e82a";
}

.lnr-users:before {
    content: "\e82b";
}

.lnr-shirt:before {
    content: "\e82c";
}

.lnr-store:before {
    content: "\e82d";
}

.lnr-cart:before {
    content: "\e82e";
}

.lnr-tag:before {
    content: "\e82f";
}

.lnr-phone-handset:before {
    content: "\e830";
}

.lnr-phone:before {
    content: "\e831";
}

.lnr-pushpin:before {
    content: "\e832";
}

.lnr-map-marker:before {
    content: "\e833";
}

.lnr-map:before {
    content: "\e834";
}

.lnr-location:before {
    content: "\e835";
}

.lnr-calendar-full:before {
    content: "\e836";
}

.lnr-keyboard:before {
    content: "\e837";
}

.lnr-spell-check:before {
    content: "\e838";
}

.lnr-screen:before {
    content: "\e839";
}

.lnr-smartphone:before {
    content: "\e83a";
}

.lnr-tablet:before {
    content: "\e83b";
}

.lnr-laptop:before {
    content: "\e83c";
}

.lnr-laptop-phone:before {
    content: "\e83d";
}

.lnr-power-switch:before {
    content: "\e83e";
}

.lnr-bubble:before {
    content: "\e83f";
}

.lnr-heart-pulse:before {
    content: "\e840";
}

.lnr-construction:before {
    content: "\e841";
}

.lnr-pie-chart:before {
    content: "\e842";
}

.lnr-chart-bars:before {
    content: "\e843";
}

.lnr-gift:before {
    content: "\e844";
}

.lnr-diamond:before {
    content: "\e845";
}

.lnr-linearicons:before {
    content: "\e846";
}

.lnr-dinner:before {
    content: "\e847";
}

.lnr-coffee-cup:before {
    content: "\e848";
}

.lnr-leaf:before {
    content: "\e849";
}

.lnr-paw:before {
    content: "\e84a";
}

.lnr-rocket:before {
    content: "\e84b";
}

.lnr-briefcase:before {
    content: "\e84c";
}

.lnr-bus:before {
    content: "\e84d";
}

.lnr-car:before {
    content: "\e84e";
}

.lnr-train:before {
    content: "\e84f";
}

.lnr-bicycle:before {
    content: "\e850";
}

.lnr-wheelchair:before {
    content: "\e851";
}

.lnr-select:before {
    content: "\e852";
}

.lnr-earth:before {
    content: "\e853";
}

.lnr-smile:before {
    content: "\e854";
}

.lnr-sad:before {
    content: "\e855";
}

.lnr-neutral:before {
    content: "\e856";
}

.lnr-mustache:before {
    content: "\e857";
}

.lnr-alarm:before {
    content: "\e858";
}

.lnr-bullhorn:before {
    content: "\e859";
}

.lnr-volume-high:before {
    content: "\e85a";
}

.lnr-volume-medium:before {
    content: "\e85b";
}

.lnr-volume-low:before {
    content: "\e85c";
}

.lnr-volume:before {
    content: "\e85d";
}

.lnr-mic:before {
    content: "\e85e";
}

.lnr-hourglass:before {
    content: "\e85f";
}

.lnr-undo:before {
    content: "\e860";
}

.lnr-redo:before {
    content: "\e861";
}

.lnr-sync:before {
    content: "\e862";
}

.lnr-history:before {
    content: "\e863";
}

.lnr-clock:before {
    content: "\e864";
}

.lnr-download:before {
    content: "\e865";
}

.lnr-upload:before {
    content: "\e866";
}

.lnr-enter-down:before {
    content: "\e867";
}

.lnr-exit-up:before {
    content: "\e868";
}

.lnr-bug:before {
    content: "\e869";
}

.lnr-code:before {
    content: "\e86a";
}

.lnr-link:before {
    content: "\e86b";
}

.lnr-unlink:before {
    content: "\e86c";
}

.lnr-thumbs-up:before {
    content: "\e86d";
}

.lnr-thumbs-down:before {
    content: "\e86e";
}

.lnr-magnifier:before {
    content: "\e86f";
}

.lnr-cross:before {
    content: "\e870";
}

.lnr-menu:before {
    content: "\e871";
}

.lnr-list:before {
    content: "\e872";
}

.lnr-chevron-up:before {
    content: "\e873";
}

.lnr-chevron-down:before {
    content: "\e874";
}

.lnr-chevron-left:before {
    content: "\e875";
}

.lnr-chevron-right:before {
    content: "\e876";
}

.lnr-arrow-up:before {
    content: "\e877";
}

.lnr-arrow-down:before {
    content: "\e878";
}

.lnr-arrow-left:before {
    content: "\e879";
}

.lnr-arrow-right:before {
    content: "\e87a";
}

.lnr-move:before {
    content: "\e87b";
}

.lnr-warning:before {
    content: "\e87c";
}

.lnr-question-circle:before {
    content: "\e87d";
}

.lnr-menu-circle:before {
    content: "\e87e";
}

.lnr-checkmark-circle:before {
    content: "\e87f";
}

.lnr-cross-circle:before {
    content: "\e880";
}

.lnr-plus-circle:before {
    content: "\e881";
}

.lnr-circle-minus:before {
    content: "\e882";
}

.lnr-arrow-up-circle:before {
    content: "\e883";
}

.lnr-arrow-down-circle:before {
    content: "\e884";
}

.lnr-arrow-left-circle:before {
    content: "\e885";
}

.lnr-arrow-right-circle:before {
    content: "\e886";
}

.lnr-chevron-up-circle:before {
    content: "\e887";
}

.lnr-chevron-down-circle:before {
    content: "\e888";
}

.lnr-chevron-left-circle:before {
    content: "\e889";
}

.lnr-chevron-right-circle:before {
    content: "\e88a";
}

.lnr-crop:before {
    content: "\e88b";
}

.lnr-frame-expand:before {
    content: "\e88c";
}

.lnr-frame-contract:before {
    content: "\e88d";
}

.lnr-layers:before {
    content: "\e88e";
}

.lnr-funnel:before {
    content: "\e88f";
}

.lnr-text-format:before {
    content: "\e890";
}

.lnr-text-format-remove:before {
    content: "\e891";
}

.lnr-text-size:before {
    content: "\e892";
}

.lnr-bold:before {
    content: "\e893";
}

.lnr-italic:before {
    content: "\e894";
}

.lnr-underline:before {
    content: "\e895";
}

.lnr-strikethrough:before {
    content: "\e896";
}

.lnr-highlight:before {
    content: "\e897";
}

.lnr-text-align-left:before {
    content: "\e898";
}

.lnr-text-align-center:before {
    content: "\e899";
}

.lnr-text-align-right:before {
    content: "\e89a";
}

.lnr-text-align-justify:before {
    content: "\e89b";
}

.lnr-line-spacing:before {
    content: "\e89c";
}

.lnr-indent-increase:before {
    content: "\e89d";
}

.lnr-indent-decrease:before {
    content: "\e89e";
}

.lnr-pilcrow:before {
    content: "\e89f";
}

.lnr-direction-ltr:before {
    content: "\e8a0";
}

.lnr-direction-rtl:before {
    content: "\e8a1";
}

.lnr-page-break:before {
    content: "\e8a2";
}

.lnr-sort-alpha-asc:before {
    content: "\e8a3";
}

.lnr-sort-amount-asc:before {
    content: "\e8a4";
}

.lnr-hand:before {
    content: "\e8a5";
}

.lnr-pointer-up:before {
    content: "\e8a6";
}

.lnr-pointer-right:before {
    content: "\e8a7";
}

.lnr-pointer-down:before {
    content: "\e8a8";
}

.lnr-pointer-left:before {
    content: "\e8a9";
}


/*addded styles for cards with graphs*/

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.svg-inline--fa.fa-lg {
    vertical-align: -0.225em;
}

.svg-inline--fa.fa-w-1 {
    width: 0.0625em;
}

.svg-inline--fa.fa-w-2 {
    width: 0.125em;
}

.svg-inline--fa.fa-w-3 {
    width: 0.1875em;
}

.svg-inline--fa.fa-w-4 {
    width: 0.25em;
}

.svg-inline--fa.fa-w-5 {
    width: 0.3125em;
}

.svg-inline--fa.fa-w-6 {
    width: 0.375em;
}

.svg-inline--fa.fa-w-7 {
    width: 0.4375em;
}

.svg-inline--fa.fa-w-8 {
    width: 0.5em;
}

.svg-inline--fa.fa-w-9 {
    width: 0.5625em;
}

.svg-inline--fa.fa-w-10 {
    width: 0.625em;
}

.svg-inline--fa.fa-w-11 {
    width: 0.6875em;
}

.svg-inline--fa.fa-w-12 {
    width: 0.75em;
}

.svg-inline--fa.fa-w-13 {
    width: 0.8125em;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}

.svg-inline--fa.fa-w-15 {
    width: 0.9375em;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa.fa-w-17 {
    width: 1.0625em;
}

.svg-inline--fa.fa-w-18 {
    width: 1.125em;
}

.svg-inline--fa.fa-w-19 {
    width: 1.1875em;
}

.svg-inline--fa.fa-w-20 {
    width: 1.25em;
}

.svg-inline--fa.fa-pull-left {
    margin-right: 0.3em;
    width: auto;
}

.svg-inline--fa.fa-pull-right {
    margin-left: 0.3em;
    width: auto;
}

.svg-inline--fa.fa-border {
    height: 1.5em;
}

.svg-inline--fa.fa-li {
    width: 2em;
}

.svg-inline--fa.fa-fw {
    width: 1.25em;
}

.fa-layers svg.svg-inline--fa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -0.125em;
    width: 1em;
}

.fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.fa-layers-counter,
.fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center;
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.fa-layers-counter {
    background-color: #ff253a;
    border-radius: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    height: 1.5em;
    line-height: 1;
    max-width: 5em;
    min-width: 1.5em;
    overflow: hidden;
    padding: 0.25em;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

.fa-layers-bottom-right {
    bottom: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}

.fa-layers-bottom-left {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.fa-layers-top-right {
    right: 0;
    top: 0;
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

.fa-layers-top-left {
    left: 0;
    right: auto;
    top: 0;
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.fa-lg {
    font-size: 1.3333333333em;
    line-height: 0.75em;
    vertical-align: -0.0667em;
}

.fa-xs {
    font-size: 0.75em;
}

.fa-sm {
    font-size: 0.875em;
}

.fa-1x {
    font-size: 1em;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.fa-8x {
    font-size: 8em;
}

.fa-9x {
    font-size: 9em;
}

.fa-10x {
    font-size: 10em;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}

.fa-ul>li {
    position: relative;
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

.fa-border {
    border: solid 0.08em #eee;
    border-radius: 0.1em;
    padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
    float: left;
}

.fa-pull-right {
    float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
    margin-right: 0.3em;
}

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
    margin-left: 0.3em;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-flip-both {
    -webkit-filter: none;
    filter: none;
}

.fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2.5em;
}

.fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1.25em;
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em;
}

.fa-inverse {
    color: #fff;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
